$yolk: #E8C872;
$cream: #FFF3CF;
$morning: #C9D7DD;
$night: #637A9F;
$title: "Sedan SC", serif;
$text: "Raleway", sans-serif;

@mixin inner-btn {
  background-color: $cream;
  color: $yolk;
  font-family: $text;
  font-weight: 600;
  border-radius: 0.3rem;
  padding: 0.3rem 0.5rem;
  margin: 0 0.5rem;
  transition: transform 0.05s ease-out;
  &:active {
    transform: translateY(0.2rem);
  }
}

.body {
  position: relative;
}

.header-wrapper {
  z-index: 999;
  position: fixed;
  width: 100%;
  height: 3rem;
  background-color: $cream;
  font-family: $title;
}

.main-wrapper {
  position: relative;
  padding: 4rem 2rem; //away from top with 1rem gap (same as grid gap)
  width: 100%;
  height: 100%;
  background-color: $morning;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1rem;
}

.block-wrapper {
  background-color: $night;
  border-radius: 2rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-height: 600px;
  position: relative;
  ::-webkit-scrollbar {
      width: 0px;
    }
  h3 {
    font-family: $title;
    text-align: center;
    background-color: $cream;
    color: $yolk;
    width: fit-content;
    padding: 0.3rem 1rem;
  }
  .content-wrapper {
    padding: 1rem;
    width: 100%;
  }
}

.expanded {
  grid-column: 1 / 4;
  /* Span all columns */
  grid-row: 1 / 3;
  /* Span first 2 rows */
}


//floatMenu
.float-menu {
  z-index: 998;
  position: fixed;
  top: 65vh;
  right: 1rem;
  transition: height 0.2s ease-out;
  height: 10rem;
  width: 4rem;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba($morning, 0.9);
  box-shadow: 0 0 3px 1px $night;
}
.menu-icon {
  cursor: pointer;
  transform: rotate(0deg);
  transition: transform 0.2s ease-out;
  width: 2.5rem;
  height: 2.5rem;
  background-color: $morning;
  border-radius: 0.3rem;
  margin: 1rem;
  padding: 0.15rem;
}
.icon-list {
  animation: fade-in 0.3s ease-in-out;
  display: flex;
  align-items: center;
  flex-direction: column;
  i {
    margin: 0.6rem;
  }
}

//pixel art generator
label {
  display: block;  
}
.options {
  font-family: $text;
  margin: 1rem;
}
.opt-wrapper {
  height: 4rem;
  margin: 1rem;
  display: flex;
  justify-content: center; //when number changes it moves, bug
  align-items: center;
  .slider {
    margin: 0 1rem;
  }
  button {
    @include inner-btn
  }
  span {
    margin-left: 0.3rem;
  }
  //second opt-wrapper
  .picker-container {
    border-radius: 0.3rem;
    overflow-y: scroll;
    max-height: 3.5rem;
    max-width: 16rem;
    margin: 0 0.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(245, 245, 245, 0.9);
  }
}

.block-container {
  margin: 1rem;
  display: flex;
  justify-content: center;
  overflow: scroll;
  max-height: 300px;
}

.square {
  width: 1rem;
  height: 1rem;
  background-color: white;
  border: 0.001rem solid rgb(239, 239, 239);
}


//animation
@keyframes fade-in {
  0%{
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}